{% extends './common/layout.html' %} {% block link %}
<!-- build:css assets/styles/case.css -->
<link rel="stylesheet" href="assets/styles/case.css" />
<!-- endbuild -->
<!-- build:css assets/styles/tab.css -->
<link rel="stylesheet" href="assets/styles/tab.css" />
<!-- endbuild -->
{% endblock %} {% block content %}
<div class="case">
  <header>案例</header>
  <div class="classify-list">
    <a class="classify-item">
      <img src="assets/images/cooperation_icon.png" />
      <span class="title">商业广告</span>
      <span class="title-en">Business Adv</span>
      <div class="business">
        <span>影视广告&MTV</span>
        <span>企业&城市宣传片</span>
        <span>影视剧拍摄制作</span>
        <span>三维建筑&角色动画</span>
      </div>
    </a>
    <a class="classify-item">
      <img src="assets/images/cooperation_icon.png" />
      <span class="title">商业广告</span>
      <span class="title-en">Business Adv</span>
      <div class="business">
        <span>影视广告&MTV</span>
        <span>企业&城市宣传片</span>
        <span>影视剧拍摄制作</span>
        <span>三维建筑&角色动画</span>
      </div>
    </a>
    <a class="classify-item">
      <img src="assets/images/cooperation_icon.png" />
      <span class="title">商业广告</span>
      <span class="title-en">Business Adv</span>
      <div class="business">
        <span>影视广告&MTV</span>
        <span>企业&城市宣传片</span>
        <span>影视剧拍摄制作</span>
        <span>三维建筑&角色动画</span>
      </div>
    </a>
    <a class="classify-item">
      <img src="assets/images/cooperation_icon.png" />
      <span class="title">商业广告</span>
      <span class="title-en">Business Adv</span>
      <div class="business">
        <span>影视广告&MTV</span>
        <span>企业&城市宣传片</span>
        <span>影视剧拍摄制作</span>
        <span>三维建筑&角色动画</span>
      </div>
    </a>
  </div>
  <div class="view-example">
    <div class="card-header">
      <span>案例展示</span>
      <div class="header-extra">
        <span>View List</span>
        <a>more ></a>
      </div>
    </div>
    <ul class="view-list">
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>非遗文化测试</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% include "./common/tab.html" %} {% endblock %}
