{% extends './common/layout.html' %} {% block link %}
<!-- build:css assets/styles/video-list.css -->
<link rel="stylesheet" href="assets/styles/video-list.css" />
<!-- endbuild -->
{% endblock %} {% block content %}
<div class="case">
  <header>全部案例</header>
  <div class="view-example">
    <ul class="view-list">
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>非遗文化测试</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>

      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
      <li class="view-item">
        <a>
          <img src="http://game.xiongyl.cn/upload/201911/1574085873.png" />
          <span>电影专辑</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
